h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
    text-align: center;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
p{
	text-align: center;
}
.container-narrow {
    background: url("../img/layer.png") repeat 0 0;
}
.footer{
  position: absolute;
  bottom: 0;
}
.footer p{
	text-align: center;
}
body { 
    background-image: url("../img/city.jpg") !important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto 
}